[Unit]
Description=HID Proxy
After=bluetooth.service
Requires=bluetooth.service

[Service]
ExecStart=/home/pi/rpi_hid/start.sh
Restart=always

[Install]
WantedBy=multi-user.target

